<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Labels</title>
        <style>
            .label-table{
                table-layout: fixed;
                width: 268pt;
            }

            .label-xl6322727{
                padding-left:1px; 
                color:black;
                font-size:11.0pt;
                font-weight:400;
                font-style:normal;
                text-decoration:none;
                font-family:"Aptos Narrow", sans-serif;
            }

            td{
                height: 72pt;
                width: 100%;
            }

            .label-labeldata{
                display: flex;
                flex-direction: row;
                min-height: 72pt;
                max-height: 72pt;
                width: 100%;
                padding: 3px;
            }

            .label-qr-container{
                margin-top: 4px;
            }
            
            .label-part-details{
                text-align: left;
                margin-left: 5px;
            }

            #label-description{
                width: 268pt;
                padding-right: 5px;
            }

            #label-bin-location, #label-min-max{
                display: inline;
            }

            #label-min-max{
                text-align: right;
            }
        </style>
    </head>
    <body>
        <table class="label-table">
            <thead>
            </thead>
            <tbody>
                <%records.forEach((record)=>{%>
                    <tr>
                        <td class="label-xl6322727 label-labeldata">
                            <div class="label-qr-container" >
                                <div class='qr'>
                                </div>
                            </div>
                            <span class="label-part-details">
                                <div id="label-part-code"><%=record.code%></div>
                                <div id="label-description"><%=record.description%></div>
                                <div class="label-last-line">
                                    <div id="label-bin-location"><%=record.binLoc%>&nbsp;&nbsp;</div> 
                                    <div id="label-min-max">
                                        <span id="label-min"><%=record.min%></span>&nbsp;/
                                        <span id="label-max"><%=record.max%></span>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </body>
</html>