<html>
   <body>
      <div class="header">
         <h1 class="title">stor.quaad</h1>
      </div>
      <div class="null">&nbsp;</div>
      <table style="width: 200px;">
         <thead>
               <tr>
                  <th></th>
               </tr>
         </thead>
         <tbody>
               <span class="technician-info">
                  <tr>
                     <td><strong>Technician Name:</strong> <%=technicianInfo.firstName%>&nbsp;<%=technicianInfo.lastName%></td>
                  </tr>
                  <tr>
                     <td><strong>Trade:</strong> <%=technicianInfo.trade%></td>
                  </tr>
                  <tr>
                     <td><strong>Date:</strong> <%=technicianInfo.date%></td>
                  </tr>
               </span>
               <tr class="null"><td>&nbsp;</td>
               </tr>
               <% parts.forEach((part)=>{%>
               <span class="part-details">
                  <tr>
                     <td><strong>Part:</strong> <%=part.part%></td>
                  </tr>
                  <tr>
                     <td><strong>description:</strong> <%=part.description%></td>
                  </tr>
                  <tr>
                     <td><strong>Qty:</strong> <%=part.qty%></td>
                  </tr>
                  <tr>
                     <td><strong>Unit:</strong> <%=part.unit%></td>
                  </tr>
                  <tr>
                     <td><strong>Warehouse:</strong> <%=part.warehouse%></td>
                  </tr>
                  <tr>
                     <td><strong>Workorder:</strong> <%=part.workorder%></td>
                  </tr>
                  <tr>
                     <td><strong>Reorder:</strong> <%=part.reorder%></td>
                  </tr>
                  <tr>
                     <td><strong>ReorderAmt:</strong> <%=part.reorderAmt%></td>
                  </tr>
                  <tr class="null">
                     <td>&nbsp;</td>
                  </tr>
               </span>
               <%})%>
               <tr class="null"><td>&nbsp;</td>
               </tr>
               <tr>
                  <td>
                     <img src="https://imagedelivery.net/hvBzZjzDepIfNAvBsmlTgA/95db0fb7-976e-48eb-14e1-f36a74718400/public" 
                     alt="Quaad Logo" 
                     style="width:70x; margin-left: 10px;"/>
                  </td>
               </tr>
               <tr><td><i>No reply to</br>uwm@quaad</i></td></tr>
         </tbody>
      </table>
   </body>
</html>
